@model List<Rentaly.EntityLayer.Entities.Process>

    <div class="row">
        <div class="col-lg-12 text-light">
            <div class="container-timeline">
                <ul>
                    @foreach (var item in Model)
                    {
                        <li>
                            <h4>@item.ProcessTitle</h4>
                            <p>@item.ProcessDescription</p>
                        </li>
                    }


                </ul>
            </div>
        </div>
    </div>