<section id="section-call-to-action" class="bg-color-2 pt60 pb60 text-light">
    <div class="container">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 offset-lg-2">
                    <span class="subtitle text-white">Daha fazla bilgi için bizi arayın</span>
                    <h2 class="s2">Rentaly müşteri hizmetleri size her zaman yardımcı olmaya hazır.</h2>
                </div>

                <div class="col-lg-4 text-lg-center text-sm-center">
                    <div class="phone-num-big">
                        <i class="fa fa-phone"></i>
                        <span class="pnb-text">
                            Hemen Bize Ulaşın
                        </span>
                        <span class="pnb-num">
                            +90 534 454 2856
                        </span>
                    </div>
                    <a href="#" class="btn-main">İletişime Geçin</a>
                </div>

            </div>
        </div>
    </div>
</section>