@model List<Rentaly.EntityLayer.Entities.Category>

<section aria-label="section" class="pt40 pb40 text-light" data-bgcolor="#111111">
    <div class="wow fadeInRight d-flex">
        <div class="de-marquee-list">
            <div class="d-item">

                @foreach (var item in Model)
                {
                    <span class="d-item-txt">@item.CategoryName</span>

                    <span class="d-item-display">
                        <i class="d-item-dot"></i>
                    </span>
                }

            </div>
        </div>
    </div>
</section>