@{
    var branches = ViewBag.branches as List<Rentaly.EntityLayer.Entities.Branch>;
    var categories = ViewBag.categories as List<Rentaly.EntityLayer.Entities.Category>;
}

<div class="col-lg-12">
    <div class="spacer-single sm-hide"></div>
    <div class="p-4 rounded-3 shadow-soft" data-bgcolor="#ffffff">

        <form name="contactForm" id='contact_form' method="get" asp-controller="Default" asp-action="CarList">
            <div id="step-1" class="row">
                <div class="col-lg-6 mb30">
                    <h5>Hangisini Tercih Edersiniz? </h5>

                    <div class="de_form de_radio row g-3">
                        <div class="radio-img col-lg-3 col-sm-3 col-6">
                            <input id="radio-1a" name="categoryId" type="radio" value="1" checked="checked">
                            <label for="radio-1a"><img src="/RentalyTema/images/select-form/car.png" alt="">Ekonomik</label>
                        </div>

                        <div class="radio-img col-lg-3 col-sm-3 col-6">
                            <input id="radio-1b" name="categoryId" type="radio" value="5">
                            <label for="radio-1b"><img src="/RentalyTema/images/select-form/van.png" alt="">Elektrikli</label>
                        </div>

                        <div class="radio-img col-lg-3 col-sm-3 col-6">
                            <input id="radio-1c" name="categoryId" type="radio" value="8">
                            <label for="radio-1c"><img src="/RentalyTema/images/select-form/minibus.png" alt="">Spor</label>
                        </div>

                        <div class="radio-img col-lg-3 col-sm-3 col-6">
                            <input id="radio-1d" name="categoryId" type="radio" value="3">
                            <label for="radio-1d"><img src="/RentalyTema/images/select-form/sportscar.png" alt="">Lüks</label>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 mb20">
                            <h5>Alış Şubesi</h5>
                            <div style="position:relative;">
                                <i class="fa fa-map-marker" style="position:absolute;left:12px;top:50%;transform:translateY(-50%);color:#1ecb15;z-index:1;font-size:16px;"></i>
                                <select name="pickupBranchId" class="form-control" style="padding-left:34px;">
                                    <option value="" disabled selected>İstanbul HavaLimanı Şubesi</option>
                                    @if (branches != null)
                                    {
                                        foreach (var b in branches)
                                        {
                                            <option value="@b.BranchId">@b.BranchName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-6 mb20">
                            <h5>İade Şubesi</h5>
                            <div style="position:relative;">
                                <i class="fa fa-map-marker" style="position:absolute;left:12px;top:50%;transform:translateY(-50%);color:#1ecb15;z-index:1;font-size:16px;"></i>
                                <select name="returnBranchId" class="form-control" style="padding-left:34px;">
                                    <option value="" disabled selected>Antalya HavaLimanı Şubesi</option>
                                    @if (branches != null)
                                    {
                                        foreach (var b in branches)
                                        {
                                            <option value="@b.BranchId">@b.BranchName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-6 mb20">
                            <h5>Alış Tarihi  & Saati</h5>
                            <div class="date-time-field">
                                <input type="text" id="date-picker" name="pickupDate" value="">
                                <select name="pickupTime" id="pickup-time">
                                    <option selected disabled value="Select time">Saat</option>
                                    <option value="00:00">00:00</option>
                                    <option value="00:30">00:30</option>
                                    <option value="01:00">01:00</option>
                                    <option value="01:30">01:30</option>
                                    <option value="02:00">02:00</option>
                                    <option value="02:30">02:30</option>
                                    <option value="03:00">03:00</option>
                                    <option value="03:30">03:30</option>
                                    <option value="04:00">04:00</option>
                                    <option value="04:30">04:30</option>
                                    <option value="05:00">05:00</option>
                                    <option value="05:30">05:30</option>
                                    <option value="06:00">06:00</option>
                                    <option value="06:30">06:30</option>
                                    <option value="07:00">07:00</option>
                                    <option value="07:30">07:30</option>
                                    <option value="08:00">08:00</option>
                                    <option value="08:30">08:30</option>
                                    <option value="09:00">09:00</option>
                                    <option value="09:30">09:30</option>
                                    <option value="10:00">10:00</option>
                                    <option value="10:30">10:30</option>
                                    <option value="11:00">11:00</option>
                                    <option value="11:30">11:30</option>
                                    <option value="12:00">12:00</option>
                                    <option value="12:30">12:30</option>
                                    <option value="13:00">13:00</option>
                                    <option value="13:30">13:30</option>
                                    <option value="14:00">14:00</option>
                                    <option value="14:30">14:30</option>
                                    <option value="15:00">15:00</option>
                                    <option value="15:30">15:30</option>
                                    <option value="16:00">16:00</option>
                                    <option value="16:30">16:30</option>
                                    <option value="17:00">17:00</option>
                                    <option value="17:30">17:30</option>
                                    <option value="18:00">18:00</option>
                                    <option value="18:30">18:30</option>
                                    <option value="19:00">19:00</option>
                                    <option value="19:30">19:30</option>
                                    <option value="20:00">20:00</option>
                                    <option value="20:30">20:30</option>
                                    <option value="21:00">21:00</option>
                                    <option value="21:30">21:30</option>
                                    <option value="22:00">22:00</option>
                                    <option value="22:30">22:30</option>
                                    <option value="23:00">23:00</option>
                                    <option value="23:30">23:30</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-6 mb20">
                            <h5>İade Tarihi & Saati</h5>
                            <div class="date-time-field">
                                <input type="text" id="date-picker-2" name="returnDate" value="">
                                <select name="returnTime" id="collection-time">
                                    <option selected disabled value="Select time">Saat</option>
                                    <option value="00:00">00:00</option>
                                    <option value="00:30">00:30</option>
                                    <option value="01:00">01:00</option>
                                    <option value="01:30">01:30</option>
                                    <option value="02:00">02:00</option>
                                    <option value="02:30">02:30</option>
                                    <option value="03:00">03:00</option>
                                    <option value="03:30">03:30</option>
                                    <option value="04:00">04:00</option>
                                    <option value="04:30">04:30</option>
                                    <option value="05:00">05:00</option>
                                    <option value="05:30">05:30</option>
                                    <option value="06:00">06:00</option>
                                    <option value="06:30">06:30</option>
                                    <option value="07:00">07:00</option>
                                    <option value="07:30">07:30</option>
                                    <option value="08:00">08:00</option>
                                    <option value="08:30">08:30</option>
                                    <option value="09:00">09:00</option>
                                    <option value="09:30">09:30</option>
                                    <option value="10:00">10:00</option>
                                    <option value="10:30">10:30</option>
                                    <option value="11:00">11:00</option>
                                    <option value="11:30">11:30</option>
                                    <option value="12:00">12:00</option>
                                    <option value="12:30">12:30</option>
                                    <option value="13:00">13:00</option>
                                    <option value="13:30">13:30</option>
                                    <option value="14:00">14:00</option>
                                    <option value="14:30">14:30</option>
                                    <option value="15:00">15:00</option>
                                    <option value="15:30">15:30</option>
                                    <option value="16:00">16:00</option>
                                    <option value="16:30">16:30</option>
                                    <option value="17:00">17:00</option>
                                    <option value="17:30">17:30</option>
                                    <option value="18:00">18:00</option>
                                    <option value="18:30">18:30</option>
                                    <option value="19:00">19:00</option>
                                    <option value="19:30">19:30</option>
                                    <option value="20:00">20:00</option>
                                    <option value="20:30">20:30</option>
                                    <option value="21:00">21:00</option>
                                    <option value="21:30">21:30</option>
                                    <option value="22:00">22:00</option>
                                    <option value="22:30">22:30</option>
                                    <option value="23:00">23:00</option>
                                    <option value="23:30">23:30</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <input type='submit' id='send_message' value='Find a Vehicle' class="btn-main pull-right">
                </div>

            </div>
        </form>
    </div>
</div>
<script>
    window.addEventListener('load', function () {
        setTimeout(function () {
            // ÖNCE dil tanımı yap
            $.fn.datepicker.dates['tr'] = {
                days: ["Pazar", "Pazartesi", "Salı", "Çarşamba", "Perşembe", "Cuma", "Cumartesi"],
                daysShort: ["Paz", "Pzt", "Sal", "Çar", "Per", "Cum", "Cmt"],
                daysMin: ["Pz", "Pt", "Sa", "Ça", "Pe", "Cu", "Ct"],
                months: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                monthsShort: ["Oca", "Şub", "Mar", "Nis", "May", "Haz", "Tem", "Ağu", "Eyl", "Eki", "Kas", "Ara"],
                today: "Bugün",
                clear: "Temizle",
                format: "dd.mm.yyyy",
                titleFormat: "MM yyyy",
                weekStart: 1
            };

            // SONRA destroy edip Türkçe ile yeniden başlat
            $('#date-picker, #date-picker-2').datepicker('destroy');
            $('#date-picker, #date-picker-2').datepicker({
                language: 'tr',
                format: 'dd.mm.yyyy',
                autoclose: true,
                todayHighlight: true,
                weekStart: 1
            });

        }, 800);
    });
</script>