<footer class="text-light">
    <div class="container">
        <div class="row g-custom-x">

            <div class="col-lg-3">
                <div class="widget">
                    <h5>Rentaly Hakkında</h5>
                    <p>
                        Kalitenin uygun fiyatla buluştuğu yer. Fazla maliyet yükü olmadan,
                        konforlu ve keyifli bir yolculuğun ne kadar önemli olduğunu biliyoruz.
                        Bu yüzden sizlere en iyi araçları en avantajlı fiyatlarla sunmak için
                        hizmetlerimizi özenle hazırladık.
                    </p>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="widget">
                    <h5>İletişim Bilgileri</h5>
                    <address class="s1">
                        <span><i class="id-color fa fa-map-marker fa-lg"></i>İstanbul, Türkiye</span>
                        <span><i class="id-color fa fa-phone fa-lg"></i>+90 555 555 55 55</span>
                        <span><i class="id-color fa fa-envelope-o fa-lg"></i><a href="mailto:info@rentaly.com">info@rentaly.com</a></span>
                        <span><i class="id-color fa fa-file-pdf-o fa-lg"></i><a href="#">Broşürü İndir</a></span>
                    </address>
                </div>
            </div>

            <div class="col-lg-3">
                <h5>Hızlı Erişim</h5>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="widget">
                            <ul>
                                <li><a href="#">Hakkımızda</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Kariyer</a></li>
                                <li><a href="#">Haberler</a></li>
                                <li><a href="#">İş Ortakları</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="widget">
                    <h5>Sosyal Medya</h5>
                    <div class="social-icons">
                        <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                        <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                        <a href="#"><i class="fa fa-instagram fa-lg"></i></a>
                        <a href="#"><i class="fa fa-youtube fa-lg"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="de-flex">

                        <div class="de-flex-col">
                            <a href="index.html">
                                Copyright 2025 - Rentaly Tüm Hakları Saklıdır
                            </a>
                        </div>

                        <ul class="menu-simple">
                            <li><a href="#">Şartlar &amp; Koşullar</a></li>
                            <li><a href="#">Gizlilik Politikası</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>